## Hands-on - Probability Distributions and Variability

In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as stats
import matplotlib.pyplot as plt
from scipy.stats import binom, norm, ttest_1samp, mannwhitneyu, chi2_contingency

# Load dataset from GitHub URL
file_path = "https://raw.githubusercontent.com/Hamed-Ahmadinia/DASP-2025/main/epa-sea-level.csv"  # URL link to the dataset stored on GitHub

# Read the dataset into a pandas dataframe
df = pd.read_csv(file_path)  # Load the dataset as a pandas DataFrame

# Display the first few rows of the dataframe to confirm the data has been loaded correctly
print("Dataset Preview:")  # Print a label for context
print(df.head(5))  # Display the first 5 rows of the dataset

Dataset Preview:
   Year  CSIRO Adjusted Sea Level  Lower Error Bound  Upper Error Bound  \
0  1880                  0.000000          -0.952756           0.952756
1  1881                  0.220472          -0.732283           1.173228
2  1882                 -0.440945          -1.346457           0.464567
3  1883                 -0.232283          -1.129921           0.665354
4  1884                  0.590551          -0.283465           1.464567

   NOAA Adjusted Sea Level
0                      NaN
1                      NaN
2                      NaN
3                      NaN
4                      NaN

## **Exercise 1: Understanding the Dataset**
ðŸ”¹ **Question:** Display key statistics about the dataset using `.describe()`. `.

In [2]:
# Your code here:
df.describe()

,Year,CSIRO Adjusted Sea Level,Lower Error Bound,Upper Error Bound,NOAA Adjusted Sea Level
count,134.000000,134.000000,134.000000,134.000000,21.000000
mean,1946.500000,3.650341,3.204666,4.096016,7.363746
std,38.826537,2.485692,2.663781,2.312581,0.691038
min,1880.000000,-0.440945,-1.346457,0.464567,6.297493
25%,1913.250000,1.632874,1.078740,2.240157,6.848690
50%,1946.500000,3.312992,2.915354,3.710630,7.488353
75%,1979.750000,5.587598,5.329724,5.845472,7.907365
max,2013.000000,9.326772,8.992126,9.661417,8.546648

## **Exercise 2: Identifying Outliers**
ðŸ”¹ **Question:** Use the **interquartile range (IQR)** method to detect outliers in the **CSIRO Adjusted Sea Level** column. .)re)

In [12]:
# Your code here:

## **Exercise 3: Exploring Distributions**
ðŸ”¹ **Question:** Create a **boxplot** of sea level rise grouped by decade (e.g., 1880-1890, 1891-1900, etc.). e?

In [15]:
# Your code here:

## **Exercise 4: Hypothesis Testing on Trends**
ðŸ”¹ **Question:** Perform a **T-test** to check if the mean sea level in the 21st century (2000-2014) is significantly higher than in the 20th century (1900-1999).

In [31]:
# Your code here:

## **Exercise 5: Probability Distributions**
ðŸ”¹ **Question:** Fit a **Poisson distribution** to the sea level rise data. ?

In [34]:
# Your code here:

## **Exercise 6: Correlation Analysis**
ðŸ”¹ **Question:** Check if there is a correlation between **CSIRO Adjusted Sea Level** and **NOAA Adjusted Sea Level**.

In [ ]:
# Your code here:

## **Exercise 7: Summary Reflection**
ðŸ”¹ **Question:** Summarize your findings from this analysis.

In [ ]:
# Your code here: