## Hands-on - Python ReCap 1

In [1]:
# 1. Import necessary libraries
import pandas as pd  # pandas is used for handling tabular datasets (dataframes) and performing operations such as reading CSV files
import numpy as np  # numpy is used for numerical computations such as working with arrays and applying mathematical operations

# 2. Load dataset from GitHub URL
file_path = "https://raw.githubusercontent.com/Hamed-Ahmadinia/DASP-2025/main/adult.data.csv"  # URL link to the dataset stored on GitHub

# 3. Read the dataset into a pandas dataframe
df = pd.read_csv(file_path, header=0)  # header=0 means the first row in the CSV is used as column names

# 4. Display the first few rows of the dataframe to confirm the data has been loaded correctly
print("Dataset Preview:")  # Print a label for context
print(df.head(5))  # Display the first 5 rows of the dataset

Dataset Preview:
   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country salary
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K

### **Exercise 1: Common Python Operations**
**Question:** Print the sum of the first row's `age` and `hours-per-week`.

In [2]:
# Your code here
age = df['age'].iloc[0]
print("First row's age:", age)

First row's age: 39

### **Exercise 2: String Manipulation**
**Question:** Convert the first `workclass` entry to lowercase and strip any leading or trailing spaces.

In [3]:
# Your code here
wclass = df['workclass'].iloc[2]
print (wclass.strip().lower())

private

### **Exercise 3: Lists in Python**
**Question:** Create a list of the unique values in the `education` column and print its length.

In [4]:
# Your code here
education_list = df['education'].tolist() 
unique_education_levels = list(set(education_list))
print (len(unique_education_levels))

16

### **Exercise 4: Sets in Python**
**Question:** Check if the value "Self-employed" exists in the unique set of `workclass` values.

In [5]:
# Your code here
unique_workclasses = set(df['workclass'].dropna())
set1 = {"Private", "Self-employed"}
set2 = {"Government", "Self-employed"}
print("Intersection:", set1.intersection(unique_workclasses))
print("Union:", set1.union(unique_workclasses))

Intersection: {'Private'}
Union: {'State-gov', 'Without-pay', 'Federal-gov', 'Self-emp-inc', '?', 'Self-employed', 'Self-emp-not-inc', 'Never-worked', 'Private', 'Local-gov'}

### **Exercise 5: Dictionaries in Python**
**Question:** Create a dictionary from the first row's data. Print the `occupation` value from the dictionary.

In [6]:
# Your code here
first_row = df.iloc[0].to_dict()
print (first_row['occupation'])

Adm-clerical

### **Exercise 6: Conditional Statements in Python**
**Question:** Write a function that returns "Minor" if the age is less than 18, "Adult" if between 18 and 65, and "Senior" if greater than 65. Test it on the first row's `age`.

In [7]:
# Your code here
age = df['age'].iloc[0]
if age < 18:
    print("Minor.")
elif 18 <= age <= 65:
    print("Adult.")
else:
    print("Senior.")

Adult.

### **Exercise 7: For Loops**
**Question:** Iterate through the first 5 rows of `workclass` and print each entry.

In [2]:
# Your code here
for workclass in df['workclass'].head(5):
    print(workclass)

State-gov
Self-emp-not-inc
Private
Private
Private

### **Exercise 8: Functions**
**Question:** Define a function `sum_columns` that takes two column names and an index, sums the values of the specified columns at the given index, and returns the result. Test it with `age` and `hours-per-week` at the first row.

In [13]:
# Your code here
def sum_columns (name1, name2, index):
    return df[name1].iloc[index] + df[name2].iloc[index]


print (sum_columns('age', 'hours-per-week', 0))

79

### **Exercise 9: File Handling**
**Question:** Save the first 10 rows of the dataframe to `output.csv` and read it back. Print the first 2 rows from the loaded CSV.

In [10]:
# Your code here
sample_df = df.head(10)  # Take the first 10 rows
sample_df.to_csv("output.csv", index=False)


# Read the saved CSV
read_sample = pd.read_csv("week 1/output.csv").head(2)
print("Read data from saved CSV:")
print(read_sample)

Read data from saved CSV:
   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13

       marital-status       occupation   relationship   race   sex  \
0       Never-married     Adm-clerical  Not-in-family  White  Male
1  Married-civ-spouse  Exec-managerial        Husband  White  Male

   capital-gain  capital-loss  hours-per-week native-country salary
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K

### **Exercise 10: Debugging in Python**
**Question:** Write a try/except block to handle a `KeyError` when accessing a non-existent column `"salary"`. Print an appropriate error message when caught.

In [11]:
# Your code here
try:
    print("Attempting to access a non-existent column")
    print(df['salary1'])  
except KeyError:
    print("Error: Column does not exist!")
finally:
    print("Debugging example completed.")

Attempting to access a non-existent column
Error: Column does not exist!
Debugging example completed.