## Hands-on - Matrices, DataFrames, and Time-Series Data

In [195]:
# Import necessary libraries
import pandas as pd  # pandas is used for handling tabular datasets (dataframes) and performing operations such as reading CSV files
import numpy as np  # numpy is used for numerical computations such as working with arrays and applying mathematical operations
from datashader.resampling import DOWNSAMPLING_METHODS
from dateutil.rrule import MONTHLY
from plotly.graph_objs.histogram import Cumulative

# Load dataset from GitHub URL
file_path = "https://raw.githubusercontent.com/Hamed-Ahmadinia/DASP-2025/main/Bike%20Sales.csv"  # URL link to the dataset stored on GitHub

# Read the dataset into a pandas dataframe
df = pd.read_csv(file_path)  # Load the dataset as a pandas DataFrame

# Display the first few rows of the dataframe to confirm the data has been loaded correctly
print("Dataset Preview:")  # Print a label for context
print(df.head(5))  # Display the first 5 rows of the dataset

Dataset Preview:
         Date  Day     Month  Year  Customer_Age       Age_Group  \
0  2013-11-26   26  November  2013            19     Youth (<25)
1  2015-11-26   26  November  2015            19     Youth (<25)
2  2014-03-23   23     March  2014            49  Adults (35-64)
3  2016-03-23   23     March  2016            49  Adults (35-64)
4  2014-05-15   15       May  2014            47  Adults (35-64)

  Customer_Gender    Country             State Product_Category Sub_Category  \
0               M     Canada  British Columbia      Accessories   Bike Racks
1               M     Canada  British Columbia      Accessories   Bike Racks
2               M  Australia   New South Wales      Accessories   Bike Racks
3               M  Australia   New South Wales      Accessories   Bike Racks
4               F  Australia   New South Wales      Accessories   Bike Racks

               Product  Order_Quantity  Unit_Cost  Unit_Price  Profit  Cost  \
0  Hitch Rack - 4-Bike               8         45         120     590   360
1  Hitch Rack - 4-Bike               8         45         120     590   360
2  Hitch Rack - 4-Bike              23         45         120    1366  1035
3  Hitch Rack - 4-Bike              20         45         120    1188   900
4  Hitch Rack - 4-Bike               4         45         120     238   180

   Revenue
0      950
1      950
2     2401
3     2088
4      418

In [196]:
df.index

RangeIndex(start=0, stop=113036, step=1)

### **Exercise 1: Convert the "Date" column to datetime format**
**Question:** Convert the "Date" column to pandas datetime format.

In [197]:
# Your code here:
df['Date'] = pd.to_datetime(df['Date'])
print(df)

             Date  Day     Month  Year  Customer_Age       Age_Group  \
0      2013-11-26   26  November  2013            19     Youth (<25)
1      2015-11-26   26  November  2015            19     Youth (<25)
2      2014-03-23   23     March  2014            49  Adults (35-64)
3      2016-03-23   23     March  2016            49  Adults (35-64)
4      2014-05-15   15       May  2014            47  Adults (35-64)
...           ...  ...       ...   ...           ...             ...
113031 2016-04-12   12     April  2016            41  Adults (35-64)
113032 2014-04-02    2     April  2014            18     Youth (<25)
113033 2016-04-02    2     April  2016            18     Youth (<25)
113034 2014-03-04    4     March  2014            37  Adults (35-64)
113035 2016-03-04    4     March  2016            37  Adults (35-64)

       Customer_Gender         Country             State Product_Category  \
0                    M          Canada  British Columbia      Accessories
1                    M          Canada  British Columbia      Accessories
2                    M       Australia   New South Wales      Accessories
3                    M       Australia   New South Wales      Accessories
4                    F       Australia   New South Wales      Accessories
...                ...             ...               ...              ...
113031               M  United Kingdom           England         Clothing
113032               M       Australia        Queensland         Clothing
113033               M       Australia        Queensland         Clothing
113034               F          France     Seine (Paris)         Clothing
113035               F          France     Seine (Paris)         Clothing

       Sub_Category              Product  Order_Quantity  Unit_Cost  \
0        Bike Racks  Hitch Rack - 4-Bike               8         45
1        Bike Racks  Hitch Rack - 4-Bike               8         45
2        Bike Racks  Hitch Rack - 4-Bike              23         45
3        Bike Racks  Hitch Rack - 4-Bike              20         45
4        Bike Racks  Hitch Rack - 4-Bike               4         45
...             ...                  ...             ...        ...
113031        Vests      Classic Vest, S               3         24
113032        Vests      Classic Vest, M              22         24
113033        Vests      Classic Vest, M              22         24
113034        Vests      Classic Vest, L              24         24
113035        Vests      Classic Vest, L              23         24

        Unit_Price  Profit  Cost  Revenue
0              120     590   360      950
1              120     590   360      950
2              120    1366  1035     2401
3              120    1188   900     2088
4              120     238   180      418
...            ...     ...   ...      ...
113031          64     112    72      184
113032          64     655   528     1183
113033          64     655   528     1183
113034          64     684   576     1260
113035          64     655   552     1207

[113036 rows x 18 columns]

### **Exercise 2: Set the "Date" column as the index**
**Question:** Set the "Date" column as the index of the DataFrame.

In [198]:
# Your code here:

df = df.set_index(pd.to_datetime(df['Date']))

print(df)

                 Date  Day     Month  Year  Customer_Age       Age_Group  \
Date
2013-11-26 2013-11-26   26  November  2013            19     Youth (<25)
2015-11-26 2015-11-26   26  November  2015            19     Youth (<25)
2014-03-23 2014-03-23   23     March  2014            49  Adults (35-64)
2016-03-23 2016-03-23   23     March  2016            49  Adults (35-64)
2014-05-15 2014-05-15   15       May  2014            47  Adults (35-64)
...               ...  ...       ...   ...           ...             ...
2016-04-12 2016-04-12   12     April  2016            41  Adults (35-64)
2014-04-02 2014-04-02    2     April  2014            18     Youth (<25)
2016-04-02 2016-04-02    2     April  2016            18     Youth (<25)
2014-03-04 2014-03-04    4     March  2014            37  Adults (35-64)
2016-03-04 2016-03-04    4     March  2016            37  Adults (35-64)

           Customer_Gender         Country             State Product_Category  \
Date
2013-11-26               M          Canada  British Columbia      Accessories
2015-11-26               M          Canada  British Columbia      Accessories
2014-03-23               M       Australia   New South Wales      Accessories
2016-03-23               M       Australia   New South Wales      Accessories
2014-05-15               F       Australia   New South Wales      Accessories
...                    ...             ...               ...              ...
2016-04-12               M  United Kingdom           England         Clothing
2014-04-02               M       Australia        Queensland         Clothing
2016-04-02               M       Australia        Queensland         Clothing
2014-03-04               F          France     Seine (Paris)         Clothing
2016-03-04               F          France     Seine (Paris)         Clothing

           Sub_Category              Product  Order_Quantity  Unit_Cost  \
Date
2013-11-26   Bike Racks  Hitch Rack - 4-Bike               8         45
2015-11-26   Bike Racks  Hitch Rack - 4-Bike               8         45
2014-03-23   Bike Racks  Hitch Rack - 4-Bike              23         45
2016-03-23   Bike Racks  Hitch Rack - 4-Bike              20         45
2014-05-15   Bike Racks  Hitch Rack - 4-Bike               4         45
...                 ...                  ...             ...        ...
2016-04-12        Vests      Classic Vest, S               3         24
2014-04-02        Vests      Classic Vest, M              22         24
2016-04-02        Vests      Classic Vest, M              22         24
2014-03-04        Vests      Classic Vest, L              24         24
2016-03-04        Vests      Classic Vest, L              23         24

            Unit_Price  Profit  Cost  Revenue
Date
2013-11-26         120     590   360      950
2015-11-26         120     590   360      950
2014-03-23         120    1366  1035     2401
2016-03-23         120    1188   900     2088
2014-05-15         120     238   180      418
...                ...     ...   ...      ...
2016-04-12          64     112    72      184
2014-04-02          64     655   528     1183
2016-04-02          64     655   528     1183
2014-03-04          64     684   576     1260
2016-03-04          64     655   552     1207

[113036 rows x 18 columns]

### **Exercise 3: Slice the data from '2013-01-01' to '2013-12-31'**
**Question:** Slice the DataFrame to show data for the year 2013.

In [199]:
# Your code here:

df = df.sort_index()

# Now perform the slicing
sliced_df = df['2013-01-01':'2013-12-31']  # Slice the data for the specified date range
print("Sliced Data for 2013:")
print(sliced_df)  # Display the first few rows of the sliced data

Sliced Data for 2013:
                 Date  Day     Month  Year  Customer_Age  \
Date
2013-01-01 2013-01-01    1   January  2013            29
2013-01-01 2013-01-01    1   January  2013            29
2013-01-01 2013-01-01    1   January  2013            19
2013-01-01 2013-01-01    1   January  2013            53
2013-01-01 2013-01-01    1   January  2013            42
...               ...  ...       ...   ...           ...
2013-12-31 2013-12-31   31  December  2013            53
2013-12-31 2013-12-31   31  December  2013            46
2013-12-31 2013-12-31   31  December  2013            27
2013-12-31 2013-12-31   31  December  2013            26
2013-12-31 2013-12-31   31  December  2013            25

                       Age_Group Customer_Gender        Country  \
Date
2013-01-01  Young Adults (25-34)               F  United States
2013-01-01  Young Adults (25-34)               M  United States
2013-01-01           Youth (<25)               F  United States
2013-01-01        Adults (35-64)               F         France
2013-01-01        Adults (35-64)               M      Australia
...                          ...             ...            ...
2013-12-31        Adults (35-64)               M  United States
2013-12-31        Adults (35-64)               M         France
2013-12-31  Young Adults (25-34)               M      Australia
2013-12-31  Young Adults (25-34)               F      Australia
2013-12-31  Young Adults (25-34)               F      Australia

                        State Product_Category       Sub_Category  \
Date
2013-01-01            Florida            Bikes         Road Bikes
2013-01-01             Oregon            Bikes         Road Bikes
2013-01-01         Washington            Bikes         Road Bikes
2013-01-01      Seine (Paris)            Bikes         Road Bikes
2013-01-01         Queensland            Bikes         Road Bikes
...                       ...              ...                ...
2013-12-31             Oregon      Accessories  Bottles and Cages
2013-12-31  Seine Saint Denis            Bikes     Mountain Bikes
2013-12-31         Queensland      Accessories  Bottles and Cages
2013-12-31    South Australia      Accessories    Tires and Tubes
2013-12-31           Victoria            Bikes         Road Bikes

                            Product  Order_Quantity  Unit_Cost  Unit_Price  \
Date
2013-01-01         Road-650 Red, 62               1        487         783
2013-01-01       Road-650 Black, 44               1        487         783
2013-01-01         Road-150 Red, 48               1       2171        3578
2013-01-01       Road-250 Black, 44               1       1555        2443
2013-01-01    Road-350-W Yellow, 48               1       1083        1701
...                             ...             ...        ...         ...
2013-12-31    Water Bottle - 30 oz.               8          2           5
2013-12-31  Mountain-500 Silver, 44               1        308         565
2013-12-31    Water Bottle - 30 oz.              15          2           5
2013-12-31        Touring Tire Tube               4          2           5
2013-12-31    Road-350-W Yellow, 48               1       1083        1701

            Profit  Cost  Revenue
Date
2013-01-01     257   487      744
2013-01-01     186   487      673
2013-01-01     620  2171     2791
2013-01-01     448  1555     2003
2013-01-01     346  1083     1429
...            ...   ...      ...
2013-12-31      18    16       34
2013-12-31     155   308      463
2013-12-31      33    30       63
2013-12-31       8     8       16
2013-12-31     261  1083     1344

[24443 rows x 18 columns]

### **Exercise 4: Calculate cumulative revenue**
**Question:** Add a new column 'Cumulative_Revenue' that shows the cumulative sum of the revenue.

In [200]:
# Your code here:
df['Cumulative_Revenue'] = df['Revenue'].cumsum()
print(df[['Revenue','Cumulative_Revenue']])

            Revenue  Cumulative_Revenue
Date
2011-01-01      529                 529
2011-01-01     5439                5968
2011-01-01     2419                8387
2011-01-01     2621               11008
2011-01-01     1813               12821
...             ...                 ...
2016-07-31       39            85270298
2016-07-31      410            85270708
2016-07-31      138            85270846
2016-07-31      148            85270994
2016-07-31       14            85271008

[113036 rows x 2 columns]

### **Exercise 5: Downsample to show monthly total revenue (Hint: Use resampling)**
**Question:** Resample the data to calculate total monthly revenue.

In [201]:
# Your code here:
monthly_total_revenue = df['Revenue'].resample('ME').sum()
print(monthly_total_revenue)

Date
2011-01-31     675193
2011-02-28     637598
2011-03-31     708517
2011-04-30     698782
2011-05-31     734537
               ...
2016-03-31    2608663
2016-04-30    2756864
2016-05-31    3264343
2016-06-30    3586300
2016-07-31     499960
Freq: ME, Name: Revenue, Length: 67, dtype: int64